.ui-genesis-process-container {
    display: flex;
    justify-content: unset;
    align-items: unset;
}

.ui-fields {
    display: flex;
    justify-content: unset;
    align-items: unset;
    padding: 0;
}
