.ui-empty-filter-sort,
.ui-filter-actual-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.ui-filter-sort-actual {
    display: flex;
    flex-flow: row wrap;

    span {
        margin-left: 5px;
    }
}

.ui-filter-actual-container {
    flex-flow: row;
}

.ui-filter-sort-actual-options {
    padding-left: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.ui-filter-edit,
.ui-filter-remove {
    font-size: 17px;
    font-weight: bold;
    margin: -2px 10px 0 0;
    cursor: pointer;
}

.ui-filter-sort-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-width: 40px !important;
    font-size: 14px !important;
    margin-left: 5px !important;
    padding: 5px 10px !important;
    max-height: 25px !important;
    line-height: unset !important;
}

.ui-sort-container {
    .ui-fields {
        justify-content: unset;
        padding: 10px 20px  20px 30px;

        .ui-field {
            flex: 1;
        }
    }
}

.ui-sort-label {
    padding: 5px 0 10px;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
}

:host-context(.ui-container-mobile) {
    .ui-filter-sort-actual {
        display: flex;
        flex-flow: row wrap;

        span {
            margin-left: 0;
            font-size: 10px;
        }
    }
}
