@import 'gauge-chart';
@import 'tooltip';

.ui-chart-tooltip {
    @include themify {
        color: themed('primary-text-color');
        background: themed('primary-color');
        border: 1px solid themed('primary-border-color');
    }
}

.ui-linear-gradient-success-initial {
    @include themify {
        stop-color: themed('dark-blue-color');
    }
}

.ui-linear-gradient-success-endless {
    @include themify {
        stop-color: themed('light-blue-color');
    }
}

.ui-linear-gradient-error-initial {
    @include themify {
        stop-color: themed('orange-color');
    }
}

.ui-linear-gradient-error-endless {
    @include themify {
        stop-color: themed('red-color');
    }
}

.ui-linear-gradient-default-initial {
    @include themify {
        stop-color: themed('blue-color');
    }
}

.ui-linear-gradient-default-endless {
    @include themify {
        stop-color: themed('dark-blue-color');
        animation: ease infinite 2s lightEffect;
    }
}

.ui-linear-gradient-red-initial {
    @include themify {
        stop-color: themed('red-color');
    }
}

.ui-linear-gradient-red-endless {
    @include themify {
        stop-color: themed('light-red-color');
    }
}

.ui-chart-gauge-meter-default {
    @include themify {
        fill: themed('gray-color');
        stroke: themed('gray-color');
    }
}

.ui-chart-gauge-meter-detail,
.ui-chart-gauge-meter-text {
    @include themify {
        fill: themed('primary-text-color');
    }
}

@keyframes lightEffect {
    20% {
        stop-color: themed('light-blue-color');
    }
    50% {
        stop-color: themed('dark-blue-color');
    }
    80% {
        filter: dropShadow(0, 0, 4px themed('blue-color'));
    }
}
