<div class = "ui-modal-container">
    <app-header [title] = "data.execution.step | StringNormalizePipe"></app-header>
    <div class = "ui-execution-detail-container" *ngIf = "data.execution.startDate">
        <div class = "ui-information-container">
            <div class = "ui-information-label">
                {{ (data.execution.endDate) ? 'Executado Em' : 'Executando' }}
            </div>
            <div class = "ui-information-value">
                {{ getExecutionTime() }}
            </div>
        </div>
        <div class = "ui-information-container" *ngIf = "data.execution.result">
            <div class = "ui-information-label">
                Descrição
            </div>
            <div class = "ui-information-value">
                {{ data.execution.result.description }}
            </div>
        </div>
        <div class = "ui-information-container" *ngFor = "let outputParemeter of data.execution.result?.outputParameters">
            <div class = "ui-information-label">
                {{ outputParemeter.alias }}
            </div>
            <div class = "ui-information-value">
                {{ outputParemeter.value }}
            </div>
        </div>
    </div>
    <mat-accordion class = "ui-minimalist-accordion" *ngIf = "data.execution.interactions.length > 0">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Comandos Executados
            </mat-expansion-panel-header>
            <div class = "ui-interactions-container">
                <div class = "ui-interaction-container" *ngFor = "let command of data.execution.interactions">
                    <div class = "ui-interaction-alias">
                        {{ command.alias }}
                    </div>
                    <div class = "ui-interaction-execution-container">
                        <span class = "ui-interaction-command">
                            {{ command.command }}
                        </span>
                        <div class = "ui-interaction-execution-status">
                            <app-spinner width = "15px" height = "15px" type = "full" *ngIf = "command.status === 'executing'"></app-spinner>
                            <span *ngIf = "command.status !== 'executing'" [ngClass] = "{
                                'fas': true,
                                'fa-times': command.status === 'fail',
                                'fa-check': command.status === 'ok',
                                'ui-interaction-with-error': command.status === 'fail',
                                'ui-interaction-with-success': command.status === 'ok'
                            }"></span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div [ngClass] = "{
            'ui-panel-success': data.execution.result?.status === 'success',
            'ui-panel-error': data.execution.result?.status === 'fail',
            'ui-panel-warning': data.execution.result?.status === 'skipped',
            'ui-panel-executing': !data.execution.result && data.execution.startDate,
            'ui-panel-normal': !data.execution.result && !data.execution.startDate
        }">
        {{ getExecutionDetailStatus() }}
    </div>
    <div class = "ui-modal-footer">
        <button mat-button class = "ui-button" (click) = "eventDismiss()">Fechar</button>
    </div>
</div>
