@import 'src/styling/themes/core/theme-core.scss';

.ui-panel-error,
.ui-panel-normal,
.ui-panel-executing,
.ui-panel-success {
    border-radius: 0;
    overflow: auto;
    align-items: unset;
}

.ui-execution-detail-container {
    padding-top: 20px;
    padding: 0 20px;
}

.ui-information-container {
    display: flex;
    width: 100%;
    padding: 10px 0;
}

.ui-information-label {
    font-size: 11px;
    width: 120px;
}

.ui-information-value {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    flex: 1;
    text-align: left;
}

.ui-interactions-container {
    display: flex;
    flex-flow: column;
    padding: 10px;
}


.ui-interaction-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 10px 0;

    .ui-interaction-alias {
        font-size: 12px;
    }

    .ui-interaction-execution-container {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 5px;

        .ui-interaction-command {
            display: flex;
            flex: 1;
            flex-flow: row wrap;
            word-break: break-word;
        }

        .ui-interaction-execution-status {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
        }
    }
}

::ng-deep {
    .ui-header {
        padding: 10px 20px;
        padding-bottom: 0;
    }

    .ui-minimalist-accordion {
        max-width: 800px;
        margin-top: 10px;

        .mat-expansion-panel-body {
            max-height: unset !important;
        }

        .mat-expansion-panel-header {
            padding: 0 20px !important;
            font-size: 14px !important;
        }
    }
}

:host {
    min-width: 200px;

    @include themify {
        .ui-interaction-execution-container {
            background: themed('secondary-color');
            color: themed('secondary-text-color');
        }

        .ui-interaction-with-success {
            color: themed('green-color');
        }

        .ui-interaction-with-error {
            color: themed('red-color');
        }
    }
}
