@import 'src/styling/themes/core/theme-core.scss';

.ui-component-container {
    display: flex;
    justify-content: unset;
    align-items: unset;
    min-height: 300px;
    min-width: 300px;
    max-width: 95%;
}

.ui-process-container {
    display: flex;
    flex: 1;
    flex-flow: column;
    overflow-y: auto;
}

.ui-process-page-container {
    display: flex;
    flex: 1;
    padding: 0 10px;
    flex-flow: row wrap;
}

.ui-process-card {
    display: flex;
    flex-flow: column;
    width: 220px;
    height: 300px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.ui-process-paginator::ng-deep {
    flex: unset;

    .ui-paginator-sizes {
        padding-left: 10px;
    }
}

.ui-process-paginator {
    display: flex;
    justify-content: center;
    min-height: 70px;
}

.ui-process-card-image {
    width: 100%;
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    :nth-child(1) {
        font-size: 80px;
        font-weight: bold;
        vertical-align: center;
    }

    :nth-child(2) {
        margin-top: 10px;
        font-weight: bold;
        font-size: 11px;
    }
}

.ui-process-card-body {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    width: 100%;
    padding: 10px 5px 6px 10px;
}

.ui-empty-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    .ui-create-button {
        height: 35px;
        min-height: 35px;
        max-height: 35px;
        width: 35px;
        min-width: 35px;
        max-width: 35px;
        margin-top: 10px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        line-height: unset;
    }
}

:host {
    padding: 10px 0;
    align-items: center;

    @include themify {
        .ui-process-card-image {
            background: themed('blue-color');
            color: themed('white-color');
        }

        .ui-process-card-footer {
            width: 100%;
            height: 5px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            position: relative;
            background: themed('blue-color');
            overflow: hidden;

            .ui-process-card-footer-slider {
                position: absolute;
                height: 5px;
                width: 40%;
                animation: executing 2s infinite linear;
                background: linear-gradient(90deg, themed('blue-color') 0%, themed('light-blue-color') 30%, themed('light-blue-color') 70%, themed('blue-color') 100%);
            }
        }

        .ui-component-container {
            min-width: 300px;
            background: themed('primary-color');
        }

        .ui-process-card {
            background: themed('secondary-color');
            color: themed('secondary-text-color');
            box-shadow: 1px 1px 2px -1px themed('secondary-shadow-color');
        }

        .ui-process-card:hover {
            box-shadow: 1px 1px 4px -1px themed('secondary-shadow-color');
        }

        .ui-process-card-complete {
            .ui-process-card-image {
                background: themed('green-color');
            }


            .ui-process-card-footer {
                visibility: hidden;
            }
        }

        .ui-process-card-waiting {
            .ui-process-card-image {
                background: themed('gray-color');
            }

            .ui-process-card-footer {
                visibility: hidden;
            }
        }
    }
}
