@import 'src/styling/themes/core/theme-core.scss';

.ui-component-container {
    display: flex;
    justify-content: unset;
    align-items: unset;
    min-height: 200px;
    min-width: 200px;
    max-width: 95%;
}

.ui-process-executions-container {
    display: flex;
    flex: 1;
    flex-flow: column;
    width: 100%;
    overflow-y: auto;
}

.ui-process-paginator::ng-deep {
    flex: unset;

    .ui-paginator-sizes {
        padding-left: 10px;
    }
}

.ui-process-paginator {
    display: flex;
    justify-content: center;
    min-height: 70px;
}

.ui-component-spinner-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-empty-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    .ui-create-button {
        height: 35px;
        min-height: 35px;
        max-height: 35px;
        width: 35px;
        min-width: 35px;
        max-width: 35px;
        margin-top: 10px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        line-height: unset;
    }
}

.ui-process-execution-header {
    display: flex;
    width: 100%;
    padding: 15px;
}

.ui-process-execution-header-info {
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    width: 200px;
}

.ui-process-execution-container {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
}

.ui-process-execution {
    display: flex;
    align-items: center;
    padding: 15px;
    height: 60px;
}

.ui-process-execution-info {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 10px;
}

.ui-process-execution-step {
    :nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 20px;
        font-size: 20px;
    }
    :nth-child(2) {
        margin-left: 10px;
    }
}

.ui-process-execution-status {
    font-weight: bold;
}

:host {
    padding: 10px 0;
    align-items: center;

    @include themify {
        .ui-process-execution {
            border-bottom: 1px solid themed('primary-border-color');
        }

        .ui-process-execution:hover {
            background: themed('secondary-color');
            cursor: pointer;
        }

        .ui-process-execution-executing {
            .ui-process-execution-status {
                color: themed('blue-color');
            }

            .ui-process-execution-step {
                :nth-child(1) {
                    background: themed('blue-color');
                    color: themed('white-color');
                }
            }
        }

        .ui-process-execution-completed {
            .ui-process-execution-status {
                color: themed('green-color');
            }

            .ui-process-execution-step {
                :nth-child(1) {
                    background: themed('green-color');
                    color: themed('white-color');
                }
            }
        }

        .ui-process-execution-error {
            .ui-process-execution-status {
                color: themed('red-color');
            }

            .ui-process-execution-step {
                :nth-child(1) {
                    background: themed('red-color');
                    color: themed('white-color');
                }
            }
        }

        .ui-component-container {
            min-width: 300px;
            background: themed('primary-color');
        }

        //.ui-process-card {
        //    background: themed('secondary-color');
        //    color: themed('secondary-text-color');
        //    box-shadow: 1px 1px 2px -1px themed('secondary-shadow-color');
        //}
        //
        //.ui-process-card:hover {
        //    box-shadow: 1px 1px 4px -1px themed('secondary-shadow-color');
        //}
        //
        //.ui-process-card-complete {
        //    .ui-process-card-image {
        //        background: themed('green-color');
        //    }
        //
        //
        //    .ui-process-card-footer {
        //        visibility: hidden;
        //    }
        //}
        //
        //.ui-process-card-error {
        //    .ui-process-card-image {
        //        background: themed('red-color');
        //    }
        //
        //
        //    .ui-process-card-footer {
        //        visibility: hidden;
        //    }
        //}
        //
        //.ui-process-card-waiting {
        //    .ui-process-card-image {
        //        background: themed('gray-color');
        //    }
        //
        //    .ui-process-card-footer {
        //        visibility: hidden;
        //    }
        //}
    }
}
