<div class = "ui-component-container ui-component-container-shadowed">
    <app-header [title] = "title" [subTitle] = "subTitle">
        <div appHeaderTitleOptions class = "ui-header-title-options">
            <button mat-button class = "ui-circle-button ui-header-title-button" matTooltip = "New Execution" (click) = "eventNewExecution()">
                <span class = "far fa-file"></span>
            </button>
        </div>
    </app-header>

    <div class = "ui-component-spinner-container" *ngIf = "!genesisProcess" >
        <app-spinner type = "full" message = "Searching the executions"></app-spinner>
    </div>
    <div class = "ui-process-executions-container" *ngIf = "genesisProcess && genesisProcess.size > 0">
        <div class = "ui-process-execution-header">
            <div class = "ui-process-execution-header-info">
                Step
            </div>
            <div class = "ui-process-execution-header-info">
                SRA DNA
            </div>
            <div class = "ui-process-execution-header-info">
                SRA RNA
            </div>
            <div class = "ui-process-execution-header-info">
                DNA Aligner
            </div>
            <div class = "ui-process-execution-header-info">
                RNA Aligner
            </div>
            <div class = "ui-process-execution-header-info">
                Reference
            </div>
            <div class = "ui-process-execution-header-info">
                Status
            </div>
        </div>
        <div class = "ui-process-execution-container">
            <div [class] = "'ui-process-execution ' + this.getProcessExecutionClass(process)" *ngFor = "let process of genesisProcess.process; trackBy: trackById"
            (click) = "eventNavigateToDetail(process)">
                <div class = "ui-process-execution-info ui-process-execution-step">
                    <div>
                        <span [class] = "this.getStepIcon(process)"></span>
                    </div>
                    <span>{{ (process.completedDate) ? this.getProcessFinalStatus(process) : process.actualCommandName | StringNormalizePipe }}</span>
                </div>
                <div class = "ui-process-execution-info">
                    {{ process.dnaResource.sra }}
                </div>
                <div class = "ui-process-execution-info">
                    {{ process.rnaResource.sra }}
                </div>
                <div class = "ui-process-execution-info">
                    {{ process.dnaResource.alignment.toolName }}
                </div>
                <div class = "ui-process-execution-info">
                    {{ process.rnaResource.alignment.toolName }}
                </div>
                <div class = "ui-process-execution-info">
                    {{ process.reference}}
                </div>
                <div class = "ui-process-execution-info ui-process-execution-status">
                    {{ getProcessFinalStatus(process) }}
                </div>
            </div>
        </div>
        <app-pagination class = "ui-process-paginator" [limit] = "pagination.limit" [page] = "pagination.page" [size] = "genesisProcess.size" [processing] = "FORCE_UPDATE.getValue()"
            (limitChange) = "eventLimitChanged($event)" (pageChange) = "eventPageChanged($event)"></app-pagination>
    </div>
    <div class = "ui-empty-container" *ngIf = "genesisProcess && genesisProcess.size === 0">
        <span>Nenhuma execução encontrada</span>
        <span>Criar uma nova execução?</span>
        <button mat-button class = "ui-circle-button ui-create-button" (click) = "eventNewExecution()">
            <span class = "fas fa-plus"></span>
        </button>
    </div>
</div>
