<div class = "ui-component-container ui-component-container-shadowed">
    <app-header [title] = "title" [subTitle] = "subTitle">
        <div appHeaderTitleOptions class = "ui-header-title-options">
            <button mat-button class = "ui-circle-button ui-header-title-button" matTooltip = "Nova Execução" (click) = "eventNewExecution()">
                <span class = "far fa-file"></span>
            </button>
        </div>
    </app-header>

    <div class = "ui-component-spinner-container" *ngIf = "!genesisProcess" >
        <app-spinner type = "full" message = "Searching the executions"></app-spinner>
    </div>
    <div class = "ui-process-container" *ngIf = "genesisProcess && genesisProcess.size > 0">
        <div class = "ui-process-page-container">
            <div [class] = "'ui-process-card ' + this.getStepClass(process)" *ngFor = "let process of genesisProcess.process; trackBy: trackById"
             (click) = "eventNavigateToDetail(process)">
                <div class = "ui-process-card-image">
                    <span [class] = "this.getStepIcon(process)"></span>
                    <span>{{ (process.completedDate) ? this.getProcessFinalStatus(process) : process.actualCommandName | StringNormalizePipe }}</span>
                </div>
                <div class = "ui-process-card-body">
                    <app-field-view label = "SRA DNA" [value] = "process.dnaResource.sra"></app-field-view>
                    <app-field-view label = "DNA Tool" [value] = "process.dnaResource.alignment.toolName"></app-field-view>
                    <app-field-view label = "SRA RNA" [value] = "process.rnaResource.sra"></app-field-view>
                    <app-field-view label = "RNA Tool" [value] = "process.rnaResource.alignment.toolName"></app-field-view>
                    <app-field-view label = "Reference" [value] = "process.reference"></app-field-view>
                </div>
                <div class = "ui-process-card-footer">
                    <div class = "ui-process-card-footer-slider"></div>
                </div>
            </div>
        </div>
        <app-pagination class = "ui-process-paginator" [limit] = "pagination.limit" [page] = "pagination.page" [size] = "genesisProcess.size" [processing] = "FORCE_UPDATE.getValue()"
            (limitChange) = "eventLimitChanged($event)" (pageChange) = "eventPageChanged($event)"></app-pagination>
    </div>
    <div class = "ui-empty-container" *ngIf = "genesisProcess && genesisProcess.size === 0">
        <span>Nenhuma execução encontrada</span>
        <span>Criar uma nova execução?</span>
        <button mat-button class = "ui-circle-button ui-create-button" (click) = "eventNewExecution()">
            <span class = "fas fa-plus"></span>
        </button>
    </div>
</div>
