.ui-field:not(.mat-form-field-appearance-fill).mat-form-field .mat-form-field-wrapper {
    padding: 0 !important;
    height: 60px;
}

.ui-field:not(.mat-form-field-appearance-fill).mat-form-field .mat-form-field-infix {
    padding: 1em 0 !important;
}

.ui-field:not(.mat-form-field-appearance-fill).mat-form-field .mat-form-field-label-wrapper {
    top: -0.4375em;
    padding-top: 0.4375em;
}

.mat-form-field-appearance-fill .mat-form-field-label,
.mat-form-field-appearance-legacy .mat-form-field-label {
    @include themify {
        color: themed('primary-text-color');
    }
}

.mat-form-field-appearance-fill .mat-form-field-underline,
.mat-form-field-appearance-legacy .mat-form-field-underline {
    @include themify {
        background: themed('primary-text-color');
    }
}

.ui-field:not(.mat-form-field-appearance-fill).mat-form-field,
.ui-field-smaller.mat-form-field {
    float: none;
    display: block;
    margin-top: 0;
    font-size: 13px;
    padding: 5px;
}

.ui-fields {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.ui-fields-center {
    justify-content: center;
}

.ui-fields-options {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
}

.ui-fields .ui-field:not(.mat-form-field-appearance-fill).mat-form-field {
    margin-left: 5px;
    margin-right: 5px;
}

.ui-field-textarea.mat-form-field {
    font-size: 13px;
}

.ui-field-full.mat-form-field {
    width: 100%;
}

.ui-field-smaller.mat-form-field {
    font-size: 12px;
}

.ui-field-smaller.mat-form-field .mat-form-field-wrapper {
    padding: 0 !important;
    height: 50px;
}

.ui-field-smaller.mat-form-field .mat-form-field-infix {
    padding: 0.7em 0 !important;
}

.ui-field-smaller.mat-form-field .mat-form-field-label-wrapper {
    top: -0.5em;
    padding-top: 0.4375em;
}

.ui-field-slider {
    max-width: 200px;
}

.ui-field-slider,
.ui-field-slide {
    @include themify {
        color: themed('primary-text-color');
    }
}

.ui-field-textarea.mat-form-field .mat-form-field-infix {
    height: auto !important;
}

.ui-field-space.mat-form-field {
    padding-right: 10px;
}

.mat-paginator {
    background: transparent !important;
}

.ui-themes {
    display: flex;
    flex-flow: column;

    .ui-themes-option {
        padding: 10px 15px;
    }
}
