.ui-table-simple {
    font-size: 12px;

    @include themify {
        border: 1px solid themed('primary-border-color');
        box-shadow: 1px 1px 2px 0 themed('primary-shadow-color');
        background: themed('primary-color');

        tr {
            border: 1px solid themed('primary-border-color');
        }

        td {
            padding: 10px;
            border: 1px solid themed('primary-border-color');
        }
    }
}

.ui-table {
    font-size: 12px;

    @include themify {
        border: 1px solid themed('primary-border-color');
        box-shadow: 1px 1px 2px 0 themed('primary-shadow-color');
        background: themed('primary-color');
    }

    .mat-header-cell {
        @include themify {
            font-weight: bold;
            border-bottom-color: themed('secondary-border-color');
            color: themed('primary-text-color');
        }
    }

    .mat-cell {
        @include themify {
            font-size: 12px;
            color: themed('primary-text-color');
            border-bottom-color: themed('secondary-border-color');
        }
    }
}
