$themes: (
    ui-default-theme: (
        logo-color: #547df6,
        loading-color: #fbfdff,
        application-background: #f0f2f5,
        login-background: #fbfdff,
        login-text-color: #5a6b7c,

        nav-bar-vertical-color: #fdfeff,
        nav-bar-vertical-text-color: #5a6b7c,
        nav-bar-vertical-shadow-color: #969eb1,
        nav-bar-vertical-border-color: rgba(254, 254, 255, 1),

        nav-bar-horizontal-color: #fdfeff,
        nav-bar-horizontal-text-color: #5a6b7c,
        nav-bar-horizontal-shadow-color: #969eb1,
        nav-bar-horizontal-border-color: rgba(254, 254, 255, 1),

        nav-bar-mobile-color: #fdfeff,
        nav-bar-mobile-text-color: #5a6b7c,
        nav-bar-mobile-shadow-color: #969eb1,
        nav-bar-mobile-border-color: rgba(254, 254, 255, 1),
        nav-bar-mobile-options-color: #fdfeff,
        nav-bar-mobile-options-text-color: #5a6b7c,

        nav-bar-selected-color: #f7f7f7,
        nav-bar-selected-text-color: #547df6,
        nav-bar-selected-border-color: #547df6,
        nav-bar-selection-color: transparent,
        nav-bar-selection-text-color: #547df6,
        nav-bar-selection-border-color: #547df6,

        selected-color: rgb(239 239 250),
        selected-text-color: #547df6,
        selected-border-color: #547df6,
        selection-color: #f4f4f4,
        selection-text-color: #547df6,
        selection-border-color: #547df6,

        primary-color: rgba(254, 254, 255, 1),
        primary-text-color: #647586,
        primary-border-color: #e1e1e1,
        primary-shadow-color: #818181,

        secondary-color: #faf9ff,
        secondary-gradient-color: #e2e5e7,
        secondary-text-color: #5a6b7c,
        secondary-border-color: #ceceda,

        tertiary-color: #547df6,
        tertiary-gradient-color: #547df6,
        tertiary-text-color: rgba(254, 254, 255, 1),
        tertiary-border-color: #547df6,

        modal-background: rgba(255, 255, 255, 0.9),
        modal-dark-background: rgba(0, 0, 0, 0.5),
        disabled-text-color: #adb0b7,
        disabled-color: #f5f5f5,
        yellow-color: #e9b109,
    ), ui-dark-theme: (
        logo-color: rgb(228, 235, 238),
        loading-color: #292929,
        application-background: #292929,
        login-background: #292929,
        login-text-color: rgb(238, 239, 246),

        nav-bar-vertical-color: #212121,
        nav-bar-vertical-text-color: rgb(228, 235, 238),
        nav-bar-vertical-border-color: #547df6,
        nav-bar-vertical-shadow-color: #00041b,

        nav-bar-horizontal-color: #212121,
        nav-bar-horizontal-text-color: rgb(228, 235, 238),
        nav-bar-horizontal-border-color: #547df6,
        nav-bar-horizontal-shadow-color: #00041b,

        nav-bar-mobile-color: #212121,
        nav-bar-mobile-text-color: rgb(228, 235, 238),
        nav-bar-mobile-border-color: #547df6,
        nav-bar-mobile-shadow-color: #00041b,
        nav-bar-mobile-options-color: #212121,
        nav-bar-mobile-options-text-color: rgb(228, 235, 238),

        nav-bar-selected-color: #1f1e1e,
        nav-bar-selected-text-color: #547df6,
        nav-bar-selected-border-color: transparent,
        nav-bar-selection-color: #262525,
        nav-bar-selection-text-color: rgba(233, 237, 255, 1),
        nav-bar-selection-border-color: #547df6,

        selected-color: #393b3f,
        selected-text-color: #547df6,
        selected-border-color: #20b2aa,
        selection-color: #141414,
        selection-text-color: #547df6,
        selection-border-color: #547df6,

        primary-color: #252323,
        primary-text-color: rgb(241, 242, 246),
        primary-border-color: #1c1a1a,
        primary-shadow-color: #00020d,

        secondary-color: #313131,
        secondary-gradient-color: #3c3c3c,
        secondary-text-color: rgb(247, 246, 247),
        secondary-border-color: #3e3e41,

        tertiary-color: #547df6,
        tertiary-text-color: rgb(247, 246, 247),
        tertiary-border-color: #547df6,

        modal-background: rgba(0, 0, 0, 0.9),
        modal-dark-background: rgba(0, 0, 0, 0.85),
        disabled-text-color: #757373,
        disabled-color: #333,

        gray-color:#808080,
    )
);

$default-colors: (
    logo-color: rgb(228, 235, 238),
    loading-color: #292929,
    application-background: #292929,
    login-background: #292929,
    login-text-color: rgb(238, 239, 246),

    nav-bar-vertical-color: #212121,
    nav-bar-vertical-text-color: rgb(228, 235, 238),
    nav-bar-vertical-border-color: #547df6,
    nav-bar-vertical-shadow-color: #00041b,

    nav-bar-horizontal-color: #212121,
    nav-bar-horizontal-text-color: rgb(228, 235, 238),
    nav-bar-horizontal-border-color: #547df6,
    nav-bar-horizontal-shadow-color: #00041b,

    nav-bar-mobile-color: #212121,
    nav-bar-mobile-text-color: rgb(228, 235, 238),
    nav-bar-mobile-border-color: #547df6,
    nav-bar-mobile-shadow-color: #00041b,
    nav-bar-mobile-options-color: #212121,
    nav-bar-mobile-options-text-color: rgb(228, 235, 238),

    nav-bar-selected-color: #1f1e1e,
    nav-bar-selected-text-color: #547df6,
    nav-bar-selected-border-color: transparent,
    nav-bar-selection-color: #262525,
    nav-bar-selection-text-color: rgba(233, 237, 255, 1),
    nav-bar-selection-border-color: #547df6,

    selected-color: rgba(25, 25, 25, 1),
    selected-text-color: #547df6,
    selected-border-color: #20b2aa,
    selection-color: rgba(47, 47, 47, 1),
    selection-text-color: rgba(233, 237, 255, 1),
    selection-border-color: #547df6,

    primary-color: #252323,
    primary-text-color: rgb(241, 242, 246),
    primary-border-color: #1c1a1a,
    primary-shadow-color: #00020d,

    secondary-color: #3b3c3f,
    secondary-gradient-color: #ec6d6d,
    secondary-text-color: rgb(247, 246, 247),
    secondary-border-color: #3e3e41,

    tertiary-color: #547df6,
    tertiary-text-color: rgb(247, 246, 247),
    tertiary-border-color: #547df6,

    modal-background: rgba(0, 0, 0, 0.9),
    modal-dark-background: rgba(0, 0, 0, 0.5),
    disabled-text-color: #5f5e5e,
    disabled-color: #292828,

    green-color: #0bc6db,
    light-green-color: #63c9c4,
    dark-green-color: #0b8a7f,

    red-color: #ff6969,
    light-red-color: #f29393,
    dark-red-color:  #ec6d6d,

    gray-color:#789,
    light-gray-color: #e2e5e7,
    slate-gray-color: #9bb3fa,

    orange-color: #ffa824,
    light-orange-color: #ffb545,
    dark-orange-color: #ff971b,

    white-color: #f9fcff,

    purple-color: #a54aff,

    blue-color: #547df6,
    light-blue-color: #80cef3,
    dark-blue-color: #1577ef,

    yellow-color: #ffe279,

    warning-color: #ffa07a,
    error-color: #f08080,
    success-color: #20b2aa,
    normal-color: #547df6,
);

$theme-colors: map-get($themes, 'ui-default-theme');
