/*
* Palette
*/
$ui-colors: (
    blue-palette: (
        50 : #e7edfe,
        100 : #c3d1fc,
        200 : #9bb3fa,
        300 : #7294f7,
        400 : #547df6,
        500 : #3666f4,
        600 : #305ef3,
        700 : #2953f1,
        800 : #2249ef,
        900 : #1638ec,
        A100 : #fff,
        A200 : #e9ecff,
        A400 : #b6bfff,
        A700 : #9ca9ff,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #fff,
            500 : #fff,
            600 : #fff,
            700 : #fff,
            800 : #fff,
            900 : #fff,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ),
    light-orange-palette: (
        50 : #fff5e5,
        100 : #ffe5bd,
        200 : #ffd492,
        300 : #ffc266,
        400 : #ffb545,
        500 : #ffa824,
        600 : #ffa020,
        700 : #ff971b,
        800 : #ff8d16,
        900 : #ff7d0d,
        A100 : #fff,
        A200 : #fffaf6,
        A400 : #ffdcc3,
        A700 : #ffceaa,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #000,
            500 : #000,
            600 : #000,
            700 : #000,
            800 : #000,
            900 : #000,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ), light-slate-gray-palette:(
        50 : #eff1f3,
        100 : #f7f7fb,
        ''        200 : #e2e5e7,
        300 : #d1d4db,
        400 : #969eb1,
        500 : #789,
        600 : #6f8091,
        700 : #647586,
        800 : #5a6b7c,
        900 : #47586b,
        A100 : #c9e2ff,
        A200 : #96c7ff,
        A400 : #63acff,
        A700 : #499fff,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #000,
            500 : #000,
            600 : #fff,
            700 : #fff,
            800 : #fff,
            900 : #fff,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ), light-salmon-palette:  (
        50 : #fff4ef,
        100 : #ffe3d7,
        200 : #ffd0bd,
        300 : #ffbda2,
        400 : #ffae8e,
        500 : #ffa07a,
        600 : #ff9872,
        700 : #ff8e67,
        800 : #ff845d,
        900 : #ff734a,
        A100 : #fff,
        A200 : #fff,
        A400 : #fff4f1,
        A700 : #ffe0d7,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #000,
            500 : #000,
            600 : #000,
            700 : #000,
            800 : #000,
            900 : #000,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ), light-coral-palette: (
        50 : #fdf0f0,
        100 : #fbd9d9,
        200 : #f8c0c0,
        300 : #f5a6a6,
        400 : #f29393,
        500 : #f08080,
        600 : #ee7878,
        700 : #ec6d6d,
        800 : #e96363,
        900 : #e55050,
        A100 : #fff,
        A200 : #fff,
        A400 : #ffdcdc,
        A700 : #ffc3c3,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #000,
            500 : #000,
            600 : #000,
            700 : #000,
            800 : #000,
            900 : #fff,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ), light-sea-green-palette: (
        50 : #e4f6f5,
        100 : #bce8e6,
        200 : #90d9d5,
        300 : #63c9c4,
        400 : #41beb7,
        500 : #20b2aa,
        600 : #1caba3,
        700 : #18a299,
        800 : #139990,
        900 : #0b8a7f,
        A100 : #b9fff9,
        A200 : #86fff4,
        A400 : #53ffef,
        A700 : #3affed,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #000,
            500 : #000,
            600 : #fff,
            700 : #fff,
            800 : #fff,
            900 : #fff,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ), white-palette: (
        50 : rgb(228, 235, 238),
        100 : rgba(235, 242, 255, 1),
        200 : rgba(236, 249, 255, 1),
        300 : rgba(233, 237, 255, 1),
        400 : rgb(238, 239, 246),
        500 : rgb(241, 242, 246),
        600 : rgb(247, 246, 247),
        700 : rgb(249, 249, 250),
        800 : rgba(254, 254, 255, 1),
        900 : rgba(255, 255, 255, 1),
        A100 : rgba(252, 254, 255, 1),
        A200 : rgba(249, 252, 255, 1),
        A400 : rgba(252, 252, 252, 1),
        A700 : rgba(255, 255, 255, 1),
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #000,
            500 : #fff,
            600 : #fff,
            700 : #fff,
            800 : #fff,
            900 : #fff,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ), light-blue-palette: (
        50 : #e0f3fc,
        100 : #b3e2f8,
        200 : #80cef3,
        300 : #4dbaee,
        400 : #26acea,
        500 : #00a5ff,
        600 : #0073b8,
        700 : #008bdf,
        800 : #006dbb,
        900 : #01529e,
        A100 : #fcfeff,
        A200 : #f9fcff,
        A400 : #96c7ff,
        A700 : #7db9ff,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #000,
            500 : #fff,
            600 : #fff,
            700 : #fff,
            800 : #fff,
            900 : #fff,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ), light-green-palette: (
        50 : #e0fbec,
        100 : #b3f5cf,
        200 : #80eeaf,
        300 : #4de78e,
        400 : #26e276,
        500 : #00dd5e,
        600 : #00d956,
        700 : #00d44c,
        800 : #00cf42,
        900 : #00c731,
        A100 : #effff2,
        A200 : #bcffc8,
        A400 : #89ff9e,
        A700 : #6fff89,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #000,
            500 : #000,
            600 : #000,
            700 : #000,
            800 : #000,
            900 : #fff,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ), light-red-palette: (
        50 : #ffe7e7,
        100 : #ffc3c3,
        200 : #ff9b9b,
        300 : #ff7272,
        400 : #ff5454,
        500 : #ff3636,
        600 : #ff3030,
        700 : #ff2929,
        800 : #f22,
        900 : #ff7171,
        A100 : #fff,
        A200 : #fffcfc,
        A400 : #ffc9c9,
        A700 : #f77,
        contrast: (
            50 : #fff,
            100 : #fff,
            200 : #fff,
            300 : #fff,
            400 : #fff,
            500 : #fff,
            600 : #fff,
            700 : #fff,
            800 : #fff,
            900 : #fff,
            A100 : #fff,
            A200 : #fff,
            A400 : #fff,
            A700 : #fff,
        )
    ), dark-blue-palette: (
        50 : #e0e1e5,
        100 : #b3b4be,
        200 : #808392,
        300 : #4d5166,
        400 : #262b46,
        500 : rgb(15, 20, 37),
        600 : rgba(11, 15, 27, 1),
        700 : #00041b,
        800 : #000316,
        900 : #00020d,
        A100 : #5151ff,
        A200 : #1e1eff,
        A400 : #0000ea,
        A700 : #0000d0,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #fff,
            400 : #fff,
            500 : #fff,
            600 : #fff,
            700 : #fff,
            800 : #fff,
            900 : #fff,
            A100 : #fff,
            A200 : #fff,
            A400 : #fff,
            A700 : #fff,
        )
    ), light-purple-palette: (
        50 : #f0e0ff,
        100 : #d9b3fe,
        200 : #bf80fe,
        300 : #a54aff,
        400 : #9226fd,
        500 : #7f00fd,
        600 : #7700fd,
        700 : #6c00fc,
        800 : #6200fc,
        900 : #4f00fc,
        A100 : #fff,
        A200 : #f3efff,
        A400 : #cdbcff,
        A700 : #baa2ff,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #fff,
            400 : #fff,
            500 : #fff,
            600 : #fff,
            700 : #fff,
            800 : #fff,
            900 : #fff,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    ), light-gray-palette: (
        50 : rgb(230, 228, 228),
        100 : rgba(193, 193, 193, 1),
        200 : rgba(152, 152, 152, 1),
        300 : rgb(134, 134, 134),
        400 : rgba(59, 59, 59, 1),
        500 : rgba(47, 47, 47, 1),
        600 : rgba(36, 36, 36, 1),
        700 : #292828,
        800 : rgba(25, 25, 25, 1),
        900 : rgba(19, 19, 19, 1),
        A100 : rgba(239, 108, 108, 1),
        A200 : rgba(234, 62, 62, 1),
        A400 : rgba(245, 0, 0, 1),
        A700 : rgba(219, 0, 0, 1),
        contrast: (
            50 : rgba(0, 0, 0, 1),
            100 : rgba(0, 0, 0, 1),
            200 : rgba(0, 0, 0, 1),
            300 : rgba(255, 255, 255, 1),
            400 : rgba(255, 255, 255, 1),
            500 : rgba(255, 255, 255, 1),
            600 : rgba(255, 255, 255, 1),
            700 : rgba(255, 255, 255, 1),
            800 : rgba(255, 255, 255, 1),
            900 : rgba(255, 255, 255, 1),
            A100 : rgba(0, 0, 0, 1),
            A200 : rgba(255, 255, 255, 1),
            A400 : rgba(255, 255, 255, 1),
            A700 : rgba(255, 255, 255, 1),
        )
    ), light-yellow-palette: (
        50 : #fdf7e4,
        100 : #fbebbb,
        200 : #f8dd8e,
        300 : #f5cf60,
        400 : #f2c53e,
        500 : #f0bb1c,
        600 : #eeb519,
        700 : #ecac14,
        800 : #e9a411,
        900 : #e59609,
        A100 : #fff,
        A200 : #fff1db,
        A400 : #ffdda8,
        A700 : #ffd38f,
        contrast: (
            50 : #000,
            100 : #000,
            200 : #000,
            300 : #000,
            400 : #000,
            500 : #000,
            600 : #000,
            700 : #000,
            800 : #000,
            900 : #000,
            A100 : #000,
            A200 : #000,
            A400 : #000,
            A700 : #000,
        )
    )
);
