.ui-field-toggle .mat-slide-toggle.mat-checked {
    @include themify {
        .mat-ripple-element {
            background-color: themed('normal-color') !important;
        }

        .mat-slide-toggle-bar {
            background-color: themed('normal-color') !important;
        }

        .mat-slide-toggle-thumb {
            background-color: themed('normal-color') !important;
            border: 1px solid themed('primary-border-color');
        }
    }
}

.ui-field-toggle .mat-slide-toggle.mat-disabled {
    @include themify {
        opacity: 1;

        .mat-slide-toggle-content {
            color: themed('disabled-text-color');
        }

        .mat-slide-toggle-bar {
            opacity: 0.48;
        }
    }
}
