.mat-slide-toggle.mat-checked .mat-ripple-element {
    @include themify {
        background-color: themed('tertiary-color') !important;
    }
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    @include themify {
        background-color: themed('tertiary-color') !important;
    }
}

.mat-slide-toggle-thumb {
    @include themify {
        background-color: themed('tertiary-color') !important;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}
