.ui-field-color {
    padding-bottom: 20px;
}

.ui-fields {
    align-items: center;
}

.ui-color-picker-container {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.ui-color-picker {
    display: flex;
    flex-flow: row;
    min-width: 179px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    outline: unset;
    flex: 1;

    @include themify {
        background: themed('primary-color');
        color: themed('primary-text-color');
        box-shadow: 0 0 0 0 themed('primary-shadow-color');
        border: 1px solid themed('primary-border-color');
    }
}

.ui-color-picker:not(:disabled):hover {
    @include themify {
        box-shadow: inset 0 0 100px -100px themed('primary-shadow-color');
        border: 1px solid themed('primary-border-color');
    }
}

.ui-color-picker:disabled {
    @include themify {
        background: themed('disabled-color');
        color: themed('disabled-text-color');
        cursor: pointer;
    }
}

.ui-color-picker-value-box {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.ui-color-picker-informations {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 15px 0 10px;
    flex: 1;
}

.ui-color-picker-label {
    display: flex;
    font-size: 13px;
    font-weight: bold;
}

.ui-color-picker-value {
    display: flex;
    padding-top: 2px;
    font-size: 12px;
}

.ui-color-menu {
    margin-top: 10px;
    border-radius: 5px !important;
    box-shadow: unset !important;
    max-height: 340px !important;
    overflow: hidden !important;

    @include themify {
        color: themed('primary-text-color') !important;
        box-shadow: 1px 1px 2px 0 themed('primary-shadow-color');
        border: 1px solid themed('primary-border-color');
    }

    .ui-menu-container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        height: auto;
        width: auto;

        .ui-color-picker-selector,
        .ui-color-picker-slider {
            canvas {
                display: block;
            }
        }
    }

    .ui-color-picker-selected-color-container {
        display: flex;
        flex-flow: column;
        width: 100%;

        @include themify {
            background: themed('secondary-color');
        }
    }

    .ui-color-picker-selected-color-value-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        font-size: 15px;

        .ui-color-picker-selected-color-value {
            font-size: 16px;
            letter-spacing: 2px;
        }

        .ui-color-picker-selected-color-value-divisor {
            margin-top: 5px;
            width: calc(50% - 10px);
            border-bottom: 1px solid themed('selected-text-color');
        }

        @include themify {
            color: themed('secondary-text-color');
        }
    }

    .ui-color-picker-selected-color-formats-container {
        display: flex;
        flex-flow: row;
        padding-top: 15px;
    }

    .ui-color-picker-selected-color-format-container {
        display: flex;
        flex-flow: column;
        flex: 1;
        align-items: center;
    }

    .ui-color-picker-selected-color-format-divisor {
        margin-top: 5px;
        width: calc(50% - 35px);
        border-bottom: 1px solid themed('selected-text-color');
    }

    .ui-color-picker-selected-color-format {
        font-weight: 510;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .ui-color-picker-selected-color-format:hover {
        @include themify {
            color: themed('selected-text-color');
        }
    }

    .ui-color-picker-options {
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        align-items: flex-end;
        padding-bottom: 10px;

        @include themify {
            .ui-circle-button {
                background: themed('secondary-color');
                color: themed('secondary-text-color');
            }

            .ui-check:hover {
                color: themed('green-color');
            }

            .ui-cancel:hover {
                color: themed('red-color');
            }
        }
    }
}
