<div class = "ui-component-container">
    <div *ngIf = "!process" class = "ui-process-loader-container">
        <app-spinner message =  "Buscando os detalhes da execução" boldMessage = "Aguarde"></app-spinner>
    </div>
    <div  *ngIf = "process" class = "ui-process-detail-body">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title">
                DNA results
            </div>
            <div class = "ui-empty-container">
                Under construction
            </div>
        </div>
        <div class = "ui-process-detail-execution-backdrop">
            <div class = "ui-process-detail-execution">
                <app-chart class = "ui-chart-container" [data] = "processData$" type = "gauge"></app-chart>
            </div>
            <div class = "ui-process-detail-header">
                <span>{{completenessText}}</span>
                <span>Execution</span>
                <span>{{process._id}}</span>
            </div>
            <div class = "ui-process-options">
                <button mat-button class = "ui-circle-button" matTooltip = "Nova Execução" (click) = "eventNewExecution()">
                    <span class = "far fa-file"></span>
                </button>
                <button mat-button class = "ui-circle-button" matTooltip = "Duplicar parâmetros" (click) = "eventDuplicateExecution()">
                    <span class = "far fa-copy"></span>
                </button>
                <button mat-button class = "ui-circle-button" matTooltip = "Ver Todas as Execuções" (click) = "eventGenesisSummary()">
                    <span class = "fas fa-history"></span>
                </button>
                <button mat-button *ngIf = "!process?.completedDate"
                        class = "ui-circle-button ui-header-title-button ui-cancel-process-button"
                        matTooltip = "Cancelar execução" (click) = "eventCancelGenesisProcess()">
                    <span class = "fas fa-times"></span>
                </button>
            </div>
        </div>
        <div class = "ui-process-detail-content ui-process-detail-content-inverse">
            <div class = "ui-process-detail-title">
                RNA results
            </div>
            <div class = "ui-empty-container">
                Under construction
            </div>
        </div>
    </div>

    <div *ngIf = "process" class = "ui-process-detail-body">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title ui-process-detail-title-2">
                DNA Outputs
            </div>
            <div class = "ui-empty-container">
                Under construction
            </div>
        </div>
        <div class = "ui-process-detail-content ui-process-detail-content-inverse">
            <div class = "ui-process-detail-title ui-process-detail-title-2">
                RNA Outputs
            </div>
            <div class = "ui-empty-container">
                Under construction
            </div>
        </div>
    </div>
    <div *ngIf = "process" class = "ui-process-detail-body">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title ui-process-detail-title-2">
                Analysis
            </div>
            <div class = "ui-empty-container">
                Under construction
            </div>
        </div>
    </div>

    <div *ngIf = "process" class = "ui-process-detail-body ui-process-detail-body-extensible">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title ui-process-detail-title-2">
                <span>Commands</span>
                <span>Amount: {{ commands.length }}</span>
            </div>
            <div class = "ui-process-commands">
                <div [class] = "getCssClass(command)" *ngFor = "let command of commands" (click) = "eventExecutionDetail(command)">
                    <div class = "ui-process-command-step-container">
                        <button mat-button class = "ui-circle-button ui-retry-button" (click) = "eventRetryStep(command.step, $event)" *ngIf = "command.startDate !== null">
                            <span class = "fas fa-redo"></span>
                        </button>
                        <div class = "ui-process-command-step-information">
                            <span [class] = "getStepIcon(command.step)"></span>
                            <span>{{command.step | StringNormalizePipe}}</span>
                            <span>
                                {{ getExecutionStatus(command) }}
                            </span>
                        </div>
                    </div>
                    <div class = "ui-process-command-time">
                        <app-field-view class = "ui-process-field" label = "Start Date" [value] = "command.startDate" [isDate] = "true"></app-field-view>
                        <app-field-view class = "ui-process-field" label = "End Date" [value] = "command.endDate" [isDate] = "true"></app-field-view>
                    </div>
                    <div class = "ui-process-command-footer">
                        <div class = "ui-process-command-footer-slider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
