@import 'src/styling/themes/core/theme-core.scss';

.ui-process-detail-container {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 100%;
    padding-top: 10px;
}

.ui-process-detail-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    .ui-process-detail-header-title {
        font-size: 16px;
        font-weight: bold;
    }

    .ui-process-detail-header-subtitle {
        font-size: 11px;
    }

    .ui-process-detail-header-options {
        display: flex;
        flex-flow: row wrap;
        padding-top: 10px;
        justify-content: center;
        align-items: center;
    }
}

.ui-process-result {
    text-align: center;
    padding: 10px 0;
}

.ui-chart-container {
    width: 100%;
    flex: unset;
}

.ui-process-executions,
.ui-process-analyses-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 10px 10px 10px 13px;
    justify-content: center;
}

.ui-process-analyses-body {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    min-height: 100px;
    flex-flow: row wrap;
}

.ui-process-analyses-header {
    height: 25px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.ui-process-analyses-general {
    display: flex;
    min-width: 200px;
    max-width: 350px;
    min-height: 100px;
}

.ui-process-analyses-container {
    flex-flow: column;
    width: 100%;
    align-items: center;
}

.ui-process-analyses-informations {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-flow: row wrap;
    flex: 1;
    padding: 10px;
}

.ui-process-analyses-information {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
}

.ui-process-analyses-information-value {
    font-weight: bold;
    font-size: 16px;
}

.ui-process-analyses-information-alias {
    padding-top: 2px;
    font-size: 11px;
}

.ui-process-analyses-general {
    display: flex;
    margin: 10px;
    align-items: center;
}

.ui-process-executions {
    justify-content: start;
    padding-top: 10px;
}

.ui-process-empty {
    width: 100%;
    height: 100px;
    align-items: center;
}

.ui-process-execution {
    width: 320px;
    max-width: 320px;
    height: 150px;
    margin: 6px;
    position: relative;

    .ui-divisor {
        position: absolute;
        height: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 0;
        bottom: -4px;
        left: 0;
    }

    .ui-retry-button {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.ui-process-execution-step-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.ui-process-execution-step-information {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.ui-process-execution-status {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

.ui-process-analyses-execution-time {
    margin-top: 15px;
}

.ui-process-execution-time {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5px 10px 5px;
    min-width: 140px;
}

.ui-updated-time {
    opacity: 0.8;
    font-size: 11px;
}

::ng-deep {
    .ui-process-field {
        margin: 0 5px;
    }
}

@media (max-width: 550px) {
    .ui-process-executions {
        flex-flow: column;
        padding-right: 20px;

        .ui-process-execution {
            min-height: 150px;
            width: 100%;
            max-width: unset;
        }
    }
}

:host {
    @include themify {
        .ui-cancel-process-button {
            color: themed('red-color') !important;
        }
        .ui-process-execution {
            background: themed('primary-color');
            color: themed('primary-text-color');
        }
        .ui-process-execution-waiting {
            .ui-divisor {
                background: themed('gray-color');
            }
        }

        .ui-process-execution-executing {
            .ui-divisor {
                background: themed('tertiary-color');
            }
        }

        .ui-process-execution-fail {
            .ui-divisor {
                background: themed('red-color');
            }
        }

        .ui-process-execution-skipped {
            .ui-divisor {
                background: themed('yellow-color');
            }
        }

        .ui-process-execution-done {
            .ui-divisor {
                background: themed('green-color');
            }
        }

        .ui-process-analyses-body {
            background: themed('primary-color');
            color: themed('primary-text-color');
            box-shadow: 1px 1px 2px -1px themed('primary-shadow-color');
        }

        .ui-process-analyses-file {
            display: flex;
            margin: 5px;
            align-items: center;

            .fas {
                font-size: 20px;
                color: themed('blue-color');
            }

            .ui-process-analyses-alias {
                padding-left: 10px;
            }
        }

        .ui-process-analyses-general,
        .ui-process-analyses-header {
            background: themed('blue-color');
            color: themed('white-color');
        }
    }
}

:host-context(.ui-container-mobile) {
    .ui-process-analyses-body,
    .ui-process-analyses-general {
        width: 100%;
        max-width: unset;
        margin: 10px 0;
    }
}
