

<div class = "ui-component-container ui-component-loading"  *ngIf = "!process">
    <div class = "ui-process-detail-title-and-options">
        <span>Loading Execution Data</span>
    </div>
    <div class = "ui-process-loader-container">
        <app-spinner message =  "Searching the execution details" boldMessage = "Please Wait"></app-spinner>
    </div>
</div>
<div [style.display] = "process ? 'flex' : 'none'"  class = "ui-component-container"
    [ngClass] = "{
    'ui-process-error': process?.completedDate && process?.result.status === 'FAIL'
}">
    <div *ngIf = "process" class = "ui-process-detail-body ui-process-detail-header">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title-and-options">
                <span>Execution Informations</span>
                <div class = "ui-process-options">
                    <button mat-button class = "ui-circle-button" matTooltip = "Nova Execução" (click) = "eventNewExecution()">
                        <span class = "far fa-file"></span>
                    </button>
                    <button mat-button class = "ui-circle-button" matTooltip = "Duplicar parâmetros" (click) = "eventDuplicateExecution()">
                        <span class = "far fa-copy"></span>
                    </button>
                    <button mat-button class = "ui-circle-button" matTooltip = "Ver Todas as Execuções" (click) = "eventGenesisSummary()">
                        <span class = "fas fa-history"></span>
                    </button>
                    <button mat-button *ngIf = "!process?.completedDate"
                            class = "ui-circle-button ui-header-title-button ui-cancel-process-button"
                            matTooltip = "Cancelar execução" (click) = "eventCancelGenesisProcess()">
                        <span class = "fas fa-times"></span>
                    </button>
                </div>
            </div>
            <div class = "ui-process-detail-resource">
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon ui-process-detail-information-icon-type">
                        <span class = "fa-solid fa-flask-vial"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>Type of Sample</span>
                        <span>DNA</span>
                    </div>
                </div>
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon">
                        <span class = "fa-solid fa-vial"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>SRA</span>
                        <span>{{ process.dnaResource.sra }}</span>
                    </div>
                </div>
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon">
                        <span class = "fa-solid fa-cog"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>Alignment Tool</span>
                        <span>{{ process.dnaResource.alignment.toolName }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class = "ui-process-detail-execution-backdrop">
            <div class = "ui-process-detail-execution">
                <app-chart class = "ui-chart-container" [data] = "processData$" type = "gauge"></app-chart>
            </div>
            <div class = "ui-process-detail-execution-header">
                <span>{{completenessText}}</span>
                <span>Execution</span>
                <span>{{process._id}}</span>
            </div>
        </div>
        <div class = "ui-process-detail-content ui-process-detail-content-inverse">
            <div class = "ui-process-detail-resource">
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon ui-process-detail-information-icon-type">
                        <span class = "fa-solid fa-flask-vial"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>Type of Sample</span>
                        <span>RNA</span>
                    </div>
                </div>
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon">
                        <span class = "fa-solid fa-vial"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>SRA</span>
                        <span>{{ process.rnaResource.sra }}</span>
                    </div>
                </div>
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon">
                        <span class = "fa-solid fa-cog"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>Alignment Tool</span>
                        <span>{{ process.rnaResource.alignment.toolName }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf = "process" class = "ui-process-detail-body ui-graph-container">
        <div class = "ui-graphs-container">
            <div class = "ui-process-detail-content">
                <div class = "ui-process-detail-title ui-process-detail-title-normal">
                    Analysis<br>DNA
                </div>
                <div *ngIf = "!process.result" class = "ui-executing-container">
                    <div class = "ui-executing-bar">
                        <div class = "ui-executing-bar-slider"></div>
                    </div>
                    <span>Executing</span>
                </div>

                <div class = "ui-sample-detail">
                    <span><b>SRA:</b> SRR14325448</span>
                    <span><b>Organismo:</b> Homo Sapiens</span>
                    <span><b>Réplica:</b> Whole exome sequencing of line WT83, clone C13, Nova1 genotype Ko/Ar</span>
                    <span><b>Criação(NCBI):</b> 2021/04/28</span>
                    <span><b>BioProject:</b>PRJNA670687</span>
                    <span><b>Quantidade de Bases:</b> 13.48 G</span>
                    <span><b>Tamanho do Arquivo:</b> 3.77 Gb </span>
                </div>
                <div #graphContainerDNASpider class = "ui-graph"  [style.display] = "process?.result ? 'flex' : 'none'">
                </div>
            </div>
            <div class = "ui-process-detail-content">
                <div class = "ui-process-detail-title ui-process-detail-title-normal" style = "align-items: flex-end; width: 100%;">
                    Analysis<br>RNA
                </div>
                <div *ngIf = "!process.result" class = "ui-executing-container">
                    <div class = "ui-executing-bar">
                        <div class = "ui-executing-bar-slider"></div>
                    </div>
                    <span>Executing</span>

                </div>
                <div class = "ui-sample-detail">
                    <span><b>SRA:</b> SRR14343390</span>
                    <span><b>Organismo:</b> Homo Sapiens</span>
                    <span><b>Réplica:</b> RNA sequencing of line WT83, clone C13, Nova1 genotype Ar/Ar, 1 month organoid, Replicate 1</span>
                    <span><b>Criação(NCBI):</b> 2021/04/28</span>
                    <span><b>BioProject:</b> PRJNA670687</span>
                    <span><b>Quantidade de Bases:</b> 8.87 G</span>
                    <span><b>Tamanho do Arquivo:</b> 2.47 Gb</span>
                </div>
                <div #graphContainerRNASpider class = "ui-graph"  [style.display] = "process?.result ? 'flex' : 'none'">
                </div>
            </div>
        </div>
    </div>

    <div *ngIf = "process" class = "ui-process-detail-body ui-graph-container">
        <div class = "ui-graphs-container">
            <div class = "ui-process-detail-content">
                <div class = "ui-process-detail-title ui-process-detail-title-normal">
                    Analysis<br>DNA x RNA
                </div>
                <div *ngIf = "!process.result" class = "ui-executing-container">
                    <div class = "ui-executing-bar">
                        <div class = "ui-executing-bar-slider"></div>
                    </div>
                    <span>Executing</span>
                </div>
                <div #graphContainerDNAXRNASpider class = "ui-graph"  [style.display] = "process?.result ? 'flex' : 'none'">
                </div>
            </div>
            <div class = "ui-process-detail-content">
                <div class = "ui-process-detail-title ui-process-detail-title-normal" style = "align-items: flex-end; width: 100%;">
                    Analysis<br> Diferenças e União
                </div>
                <div *ngIf = "!process.result" class = "ui-executing-container">
                    <div class = "ui-executing-bar">
                        <div class = "ui-executing-bar-slider"></div>
                    </div>
                    <span>Executing</span>

                </div>
                <div #graphContainerChangesSpider class = "ui-graph"  [style.display] = "process?.result ? 'flex' : 'none'">
                </div>
            </div>
        </div>
    </div>

    <div class = "ui-process-detail-body ui-graph-container">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title ui-process-detail-title-normal">
                Variants
            </div>
            <div *ngIf = "process && !process.result" class = "ui-executing-container">
                <div class = "ui-executing-bar">
                    <div class = "ui-executing-bar-slider"></div>
                </div>
                <span>Executing</span>
            </div>
            <div #graphContainer class = "ui-graph" [style.display] = "process?.result ? 'flex' : 'none'">
            </div>
        </div>
    </div>

    <div class = "ui-process-detail-body ui-graph-container">
        <div class = "ui-process-detail-body ui-graph-container" *ngIf = "analysedCommand">
            <div class = "ui-process-detail-content">
                <div class = "ui-process-detail-title ui-process-detail-title-normal">
                    Modificações
                </div>
                <div *ngIf = "process && !process.result" class = "ui-executing-container">
                    <div class = "ui-executing-bar">
                        <div class = "ui-executing-bar-slider"></div>
                    </div>
                    <span>Executing</span>
                </div>
                <div style = 'display: flex; flex-flow: row wrap; padding: 0 20px; width: 100%; height: 400px; overflow-y: auto'>
                    <div class = "ui-badge-normal" style = "margin: 5px; padding: 5px" *ngFor = "let changed of analysedCommand.result?.metadata?.changes.bothOnly ">
                        <span> {{ changed }}</span> <b> Ambos</b>
                    </div>
<!--                    <div class = "ui-badge-normal" style = "margin: 5px; padding: 5px" *ngFor = "let changed of analysedCommand.result.metadata.changes.dnaOnly ">-->
<!--                        <span> {{ changed }}</span> <b>DNA</b>-->
<!--                    </div>-->
<!--                    <div class = "ui-badge-normal" style = "margin: 5px; padding: 5px" *ngFor = "let changed of analysedCommand.result.metadata.changes.rnaOnly ">-->
<!--                        <span> {{ changed }}</span> <b>RNA</b>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div *ngIf = "process" class = "ui-process-detail-body ui-process-detail-body-extensible">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title ui-process-detail-title-normal">
                <span>Commands</span>
                <span>Amount: {{ commands.length }}</span>
            </div>
            <div class = "ui-process-commands">
                <div [class] = "getCssClass(command)" *ngFor = "let command of commands; trackBy: trackByCommandId" (click) = "eventExecutionDetail(command)">
                    <div class = "ui-process-command-step-container">
                        <button mat-button class = "ui-circle-button ui-retry-button" (click) = "eventRetryStep(command, $event)" >
                            <span class = "fas fa-redo"></span>
                        </button>
                        <div class = "ui-process-command-step-information">
                            <span [class] = "getStepIcon(command.step)"></span>
                            <span>{{command.step | StringNormalizePipe}}</span>
                            <span>
                                {{ getExecutionStatus(command) }}
                            </span>
                        </div>
                    </div>
                    <div class = "ui-process-command-time">
                        <app-field-view class = "ui-process-field" label = "Start Date" [value] = "command.startDate" [isDate] = "true"></app-field-view>
                        <app-field-view class = "ui-process-field" label = "End Date" [value] = "command.endDate" [isDate] = "true"></app-field-view>
                    </div>
                    <div class = "ui-process-command-footer">
                        <div class = "ui-process-command-footer-slider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
