
<div class = "ui-component-container ui-component-loading"  *ngIf = "!process">
    <div class = "ui-process-detail-title-and-options">
        <span>Loading Execution Data</span>
    </div>
    <div class = "ui-process-loader-container">
        <app-spinner message =  "Searching the execution details" boldMessage = "Please Wait"></app-spinner>
    </div>
</div>
<div *ngIf = "process" class = "ui-component-container"
    [ngClass] = "{
    'ui-process-error': process.completedDate && process.result.status === 'FAIL'
}">
    <div class = "ui-process-detail-body ui-process-detail-header">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title-and-options">
                <span>Execution Informations</span>
                <div class = "ui-process-options">
                    <button mat-button class = "ui-circle-button" matTooltip = "Nova Execução" (click) = "eventNewExecution()">
                        <span class = "far fa-file"></span>
                    </button>
                    <button mat-button class = "ui-circle-button" matTooltip = "Duplicar parâmetros" (click) = "eventDuplicateExecution()">
                        <span class = "far fa-copy"></span>
                    </button>
                    <button mat-button class = "ui-circle-button" matTooltip = "Ver Todas as Execuções" (click) = "eventGenesisSummary()">
                        <span class = "fas fa-history"></span>
                    </button>
                    <button mat-button *ngIf = "!process?.completedDate"
                            class = "ui-circle-button ui-header-title-button ui-cancel-process-button"
                            matTooltip = "Cancelar execução" (click) = "eventCancelGenesisProcess()">
                        <span class = "fas fa-times"></span>
                    </button>
                </div>
            </div>
            <div class = "ui-process-detail-resource">
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon ui-process-detail-information-icon-type">
                        <span class = "fa-solid fa-flask-vial"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>Type of Sample</span>
                        <span>DNA</span>
                    </div>
                </div>
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon">
                        <span class = "fa-solid fa-vial"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>SRA</span>
                        <span>{{ process.dnaResource.sra }}</span>
                    </div>
                </div>
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon">
                        <span class = "fa-solid fa-cog"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>Alignment Tool</span>
                        <span>{{ process.dnaResource.alignment.toolName }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class = "ui-process-detail-execution-backdrop">
            <div class = "ui-process-detail-execution">
                <app-chart class = "ui-chart-container" [data] = "processData$" type = "gauge"></app-chart>
            </div>
            <div class = "ui-process-detail-execution-header">
                <span>{{completenessText}}</span>
                <span>Execution</span>
                <span>{{process._id}}</span>
            </div>
        </div>
        <div class = "ui-process-detail-content ui-process-detail-content-inverse">
            <div class = "ui-process-detail-resource">
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon ui-process-detail-information-icon-type">
                        <span class = "fa-solid fa-flask-vial"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>Type of Sample</span>
                        <span>RNA</span>
                    </div>
                </div>
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon">
                        <span class = "fa-solid fa-vial"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>SRA</span>
                        <span>{{ process.rnaResource.sra }}</span>
                    </div>
                </div>
                <div class = "ui-process-detail-information">
                    <div class = "ui-process-detail-information-icon">
                        <span class = "fa-solid fa-cog"></span>
                    </div>
                    <div class = "ui-process-detail-information-content">
                        <span>Alignment Tool</span>
                        <span>{{ process.rnaResource.alignment.toolName }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "ui-process-detail-body">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title ui-process-detail-title-normal">
                Analysis
            </div>
            <div *ngIf = "!process.result" class = "ui-executing-container">
                <div class = "ui-executing-bar">
                    <div class = "ui-executing-bar-slider"></div>
                </div>
                <span>Executing</span>
            </div>
            <div class = "ui-empty-container" *ngIf = "process.result">
                Under construction
            </div>
        </div>
    </div>

    <div class = "ui-process-detail-body ui-process-detail-body-extensible">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title ui-process-detail-title-normal">
                DNA Outputs
            </div>
            <div class = "ui-process-detail-output-resource" *ngFor = "let resource of dnaResources">
                <span class = "ui-process-detail-output-resource-step">{{resource.step | StringNormalizePipe}}</span>
                <div class = "ui-process-detail-output-resource-detail" *ngFor = "let output of getFileOutputOnly(resource)">
                    <div class = "ui-process-detail-output-resource-file-extension">{{ getFileExtension(output) }}</div>
                    <div class = "ui-process-detail-output-resource-file">
                        <span>{{ getFileNameOnly(output) }}</span>
                        <span>{{ getFileLinesCount(output, resource.outputResources) }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class = "ui-process-detail-content ui-process-detail-content-inverse">
            <div class = "ui-process-detail-title ui-process-detail-title-normal">
                RNA Outputs
            </div>
            <div class = "ui-process-detail-output-resource" *ngFor = "let resource of rnaResources">
                <span class = "ui-process-detail-output-resource-step">{{resource.step | StringNormalizePipe}}</span>
                <div class = "ui-process-detail-output-resource-detail" *ngFor = "let output of getFileOutputOnly(resource)">
                    <div class = "ui-process-detail-output-resource-file-extension">{{ getFileExtension(output) }}</div>
                    <div class = "ui-process-detail-output-resource-file">
                        <span>{{ getFileNameOnly(output) }}</span>
                        <span>{{ getFileLinesCount(output, resource.outputResources) }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "ui-process-detail-body ui-process-detail-body-extensible">
        <div class = "ui-process-detail-content">
            <div class = "ui-process-detail-title ui-process-detail-title-normal">
                <span>Commands</span>
                <span>Amount: {{ commands.length }}</span>
            </div>
            <div class = "ui-process-commands">
                <div [class] = "getCssClass(command)" *ngFor = "let command of commands; trackBy: trackByCommandId" (click) = "eventExecutionDetail(command)">
                    <div class = "ui-process-command-step-container">
                        <button mat-button class = "ui-circle-button ui-retry-button" (click) = "eventRetryStep(command, $event)" *ngIf = "command.startDate !== null">
                            <span class = "fas fa-redo"></span>
                        </button>
                        <div class = "ui-process-command-step-information">
                            <span [class] = "getStepIcon(command.step)"></span>
                            <span>{{command.step | StringNormalizePipe}}</span>
                            <span>
                                {{ getExecutionStatus(command) }}
                            </span>
                        </div>
                    </div>
                    <div class = "ui-process-command-time">
                        <app-field-view class = "ui-process-field" label = "Start Date" [value] = "command.startDate" [isDate] = "true"></app-field-view>
                        <app-field-view class = "ui-process-field" label = "End Date" [value] = "command.endDate" [isDate] = "true"></app-field-view>
                    </div>
                    <div class = "ui-process-command-footer">
                        <div class = "ui-process-command-footer-slider">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
