@import 'src/styling/themes/core/theme-core.scss';

.ui-component-container {
    display: flex;
    width: 100%;
    padding: 5px 10px 10px 10px;
    justify-content: unset;
    align-items: center;
    max-height: unset;
}

.ui-process-options {
    display: flex;
    padding-left: 10px;
}

.ui-process-detail-header {
    display: flex;
    width: 100%;
    height: 30px;
    flex-flow: column;
    position: absolute;
    bottom: 55%;
    align-items: center;
}

.ui-process-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.ui-process-detail-body {
    display: flex;
    flex-flow: row;
    height: 250px;
    width: 100%;
    margin-top: 10px;
}

.ui-process-detail-resource {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 20px;
    flex: 1;
}

.ui-process-detail-body-column {
    padding-top: 20px;
    flex-flow: column;
}

.ui-process-detail-information {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 40px;
    margin: 0 5px;

    .ui-process-detail-information-icon {
        font-size: 17px;
        padding-right: 10px;
    }

    .ui-process-detail-information-body {
        display: flex;
        flex-flow: column;

        :nth-child(2) {
            font-weight: bold;
            font-size: 13px;
            width: 100px;
        }
        :nth-child(3) {
            flex: 1;
            text-align: left;
        }
    }
}

.ui-process-detail-body-extensible {
    min-height: 200px;
    height: auto;
}

.ui-process-detail-content {
    display: flex;
    flex-flow: column;
    flex: 1;
    border-radius: 4px;
}

.ui-process-detail-content {
    margin: 0 5px;
}

.ui-process-commands {
    display: flex;
    flex-flow: row wrap;
}

.ui-process-detail-content-inverse {
    .ui-process-detail-title {
        display: flex;
        align-items: flex-end;
    }
}

.ui-process-detail-title {
    display: flex;
    flex-flow: column;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding: 10px 20px;

    :nth-child(2) {
        font-size: 12px;
        font-weight: normal;
        margin-left: 1px;
    }
}

.ui-process-detail-title-and-options {
    display: flex;
    align-items: center;
}

.ui-process-detail-title-2 {
    font-size: 14px;
}

.ui-process-detail-execution-backdrop {
    height: 122%;
    width: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: relative;
}

.ui-process-detail-execution {
    display: flex;
    flex: 1;
    height: 100%;
    border-radius: 100%;
}

.ui-process-command {
    display: flex;
    flex-flow: column;
    height: 200px;
    width: 230px;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.ui-process-command-step-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.ui-retry-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.ui-process-command-step-information {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    :nth-child(1) {
        font-size: 40px;
    }

    :nth-child(2) {
        margin-top: 5px;
        font-size: 16px;
    }

    :nth-child(3) {
        font-size: 10px;
    }
}

.ui-process-command-time {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5px 10px 5px;
    min-width: 140px;
}

.ui-process-command-footer {
    height: 5px;
    width: 100%;
    background: transparent;
    position: relative;
}

.ui-empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.ui-process-detail-body-painted {
    border-radius: 4px;

    .ui-process-detail-content {
        box-shadow: unset !important;
        background: unset !important;
        border-radius: unset;
    }
}

:host {
    .ui-process-command-time::ng-deep {
        .ui-field-view-label {
            padding-bottom: 2px;
            font-size: 9px;
        }

        .ui-field-view-value {
            font-size: 10px;
        }
    }

    @include themify {
        .ui-process-detail-information {
            .ui-process-detail-information-icon {
                color: themed('tertiary-color');
            }
        }

        .ui-process-error {
            .ui-process-detail-header > * {
                color: themed('red-color') !important;
            }

            .ui-process-options {
                .ui-circle-button {
                    color: themed('red-color');
                }
            }
        }

        .ui-process-detail-execution-backdrop {
            background: themed('application-background');
        }

        .ui-process-detail-execution,
        .ui-process-detail-body-painted,
        .ui-process-detail-content {
            background: themed('primary-color');
            box-shadow: 1px 1px 2px -1px themed('primary-shadow-color');
        }

        .ui-process-detail-header {
            :nth-child(1) {
                font-size: 60px;
                margin-left: 10px;
                font-weight: bold;
                color: themed('tertiary-color');
            }

            :nth-child(2) {
                font-size: 14px;
                font-weight: bold;
                color: themed('tertiary-color');
            }
        }

        .ui-process-options {
            .ui-circle-button {
                margin: 0 2px;
                background: themed('primary-color');
                color: themed('tertiary-color');
            }
        }

        .ui-process-command {
            background: themed('secondary-color');
            box-shadow: 1px 1px 2px -1px themed('primary-shadow-color');
        }

        .ui-process-command:hover {
            box-shadow: 1px 1px 4px -1px themed('secondary-shadow-color');
        }

       .ui-process-command-fail {
           .ui-process-command-footer {
               background: themed('red-color');
           }
       }

        .ui-process-command-done {
            .ui-process-command-footer {
                background: themed('green-color');
            }
        }

        .ui-process-command-executing {
            .ui-process-command-footer {
                background: themed('blue-color');
                overflow: hidden;

                .ui-process-command-footer-slider {
                    position: absolute;
                    height: 5px;
                    width: 40%;
                    animation: executing 2s infinite linear;
                    background: linear-gradient(90deg, themed('blue-color') 0%, themed('light-blue-color') 30%, themed('light-blue-color') 70%, themed('blue-color') 100%);
                }
            }
        }

        .ui-process-command-waiting {
            .ui-process-command-footer {
                background: themed('gray-color');
            }
        }

        .ui-process-command-skipped {
            .ui-process-command-footer {
                background: themed('orange-color');
            }
        }
    }
}
