@use '~@angular/material' as mat;

@include mat.core();

/* stylelint-disable no-invalid-position-at-import-rule */
@import '~@angular/material/theming';
@import 'default-theme.scss';
@import 'dark-theme.scss';
