@import './animation/spinner.scss';

* {
    box-sizing: border-box !important;
}

.ui-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;

    @include themify {
        background: themed('loading-color');
    }
}

.ui-loading-logo {
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    margin-left: 10px;

    @include themify {
        @include background-logo(themed('logo-color'));
    }
}

.ui-loading-spinner {
    height: 80px;
    width: 80px;
    padding: 10px;
}

.ui-loading-description {
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;

    @include themify {
        color: themed('primary-text-color');
    }
}
