<div class = "ui-component-container ui-component-container-shadowed">
    <app-header title = "Create" subTitle = "New Pipeline Execution">
        <div appHeaderTitleOptions class = "ui-header-title-options">
            <button mat-button class = "ui-circle-button ui-header-title-button" matTooltip = "Execution History" (click) = "eventGenesisSummary()">
                <span class = "fas fa-history"></span>
            </button>
        </div>
    </app-header>
    <div class = "ui-genesis-process-container">
        <div class = "ui-genesis-process-container-spinner" *ngIf = "loading">
            <app-spinner message = "Loading the resources" type = "full" boldMessage =  "Please wait"></app-spinner>
        </div>
        <mat-vertical-stepper class = "ui-stepper" *ngIf = "!loading" [linear] = "true">
            <ng-template matStepperIcon = "edit">
                <span class = "fas fa-check" style = "font-size: 16px"></span>
            </ng-template>
            <mat-step label = "Input Parameters" state = "input" [stepControl] = "parametersForm">
                <form class = "ui-fields" [formGroup] = "parametersForm">
                    <mat-form-field class = "ui-field">
                        <mat-select formControlName = "reference" placeholder = "Reference Genome">
                            <mat-option *ngFor = "let reference of genomeReferences" [value] = "reference.name">{{reference.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class = "ui-field">
                        <input type = "text" matInput placeholder = "DNA Sample(SRA)" formControlName = "dnaSraId">
                    </mat-form-field>
                    <mat-form-field class = "ui-field">
                        <input type = "text" matInput placeholder = "RNA Sample(SRA)" formControlName = "rnaSraId">
                    </mat-form-field>
                    <div class = "ui-fields-options">
                        <button mat-button class = "ui-button" [disabled] = "parametersForm.invalid" matStepperNext>
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step label = "Parameters: DNA Analysis" state = "input" [stepControl] = "dnaAlignmentForm">
                <form class = "ui-fields" [formGroup] = "dnaAlignmentForm">
                    <mat-form-field class = "ui-field">
                        <mat-select formControlName = "toolName" placeholder = "DNA Alignment Tools">
                            <mat-option *ngFor = "let tool of getDnaAlignmentTools()" [value] = "tool.name">{{tool.alias}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "pairedDump">
                            It's a paired sample
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "forceDump">
                            Force SRA download
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "forceAlignment">
                            Force alignment
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "forceIndex" [disabled] = "dnaAlignmentForm.get('forceAlignment').value !== true">
                            Force indexing
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "forceExtraction">
                            Force extraction
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-fields-options">
                        <button mat-button class = "ui-button" matStepperPrevious>
                            Back
                        </button>
                        <button mat-button class = "ui-button"  matStepperNext>
                            Next
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step label = "Parameters: RNA Analysis" state = "input" [stepControl] = "rnaAlignmentForm">
                <form class = "ui-fields" [formGroup] = "rnaAlignmentForm">
                    <mat-form-field class = "ui-field">
                        <mat-select formControlName = "toolName" placeholder = "RNA Alignment Tools">
                            <mat-option *ngFor = "let tool of getRnaAlignmentTools()" [value] = "tool.name">{{tool.alias}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "pairedDump">
                            It's a paired sample
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "forceDump">
                            Force SRA download
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "forceAlignment">
                            Force alignment
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "forceIndex" [disabled] = "rnaAlignmentForm.get('forceAlignment').value !== true">
                            Force indexing
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-force-toggle ui-field ui-field-toggle">
                        <mat-slide-toggle formControlName = "forceExtraction">
                            Force extraction
                        </mat-slide-toggle>
                    </div>
                    <div class = "ui-fields-options">
                        <button mat-button class = "ui-button" matStepperPrevious>
                            Back
                        </button>
                        <button mat-button class = "ui-button" [disabled] = "rnaAlignmentForm.invalid" (click) = "eventCreateGenesisProcess()">
                            Execute
                        </button>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>
