.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    @include themify {
        background-color: themed('tertiary-color') !important;
    }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    @include themify {
        border-color: themed('tertiary-color') !important;
    }
}
