@import 'src/styling/themes/core/theme-core.scss';

.ui-genesis-process-container {
    display: flex;
    justify-content: unset;
    align-items: unset;
    max-width: 500px;
}

.ui-genesis-process-container-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.ui-fields {
    display: flex;
    justify-content: unset;
    align-items: unset;
    padding: 0;
}

.ui-force-toggle {
    width: 100%;
    padding-left: 10px;
}

:host {
    padding-top: 10px;
    align-items: center;

    @include themify {
        .ui-component-container {
            min-width: 300px;
            background: themed('primary-color');
        }
    }
}
