@keyframes notification-bell {
    0% {
        transform: scale(1);
    }

    22% {
        transform: scale(1.4);
    }

    44% {
        transform: scale(1.6);
    }

    66% {
        transform: scale(1.6) rotate(10deg);
    }

    68% {
        transform: scale(1.6) rotate(0deg);
    }

    70% {
        transform: scale(1.6) rotate(-10deg);
    }

    72% {
        transform: scale(1.6) rotate(0);
    }

    74% {
        transform: scale(1.6) rotate(10deg);
    }

    76% {
        transform: scale(1.6) rotate(0deg);
    }

    78% {
        transform: scale(1.6) rotate(-10deg);
    }

    80% {
        transform: scale(1.6) rotate(0);
    }

    88% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.ui-themed-container {
    overflow-y: auto;
}

.ui-nav-bar {
    display: flex;
    width: 250px;
    height: 100%;
    flex-flow: column;
    z-index: 2;
}

.ui-nav-bar-vertical {
    .ui-nav-bar-retraction {
        display: flex;
        position: relative;
        height: 45px;

        .ui-circle-button {
            position: absolute;
            bottom: 10px;
            right: -15px;
            z-index: 10;
            font-weight: bold;
        }
    }

    .ui-nav-absolute-options {
        position: absolute;
        width: auto;
        right: 15px;
        top: 15px;
        padding: 0 !important;
    }

    @include themify {
        background: themed('nav-bar-vertical-color');
        color: themed('nav-bar-vertical-text-color');
        box-shadow: 0 0 4px -1px themed('nav-bar-vertical-shadow-color');

        .ui-nav-bar-retraction {
            .ui-circle-button {
                color: themed('nav-bar-selected-text-color');
                background: themed('nav-bar-vertical-color');
                box-shadow: 2px 0 3px -1px themed('nav-bar-vertical-shadow-color');
            }
        }

        .ui-nav-default-options {
            .ui-primary-circle-button {
                margin: 0 5px;
            }
        }
    }
}

.ui-nav-bar-mobile,
.ui-nav-bar-horizontal {
    flex-flow: row;
    height: auto;
    width: 100%;
    overflow: unset;

    .ui-nav-bar-state-selected {
        border-left: unset;
    }

    .ui-nav-default-options {
        display: flex;
        flex-flow: row;
        width: unset;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        padding-right: 15px;
    }

    .ui-nav-bar-system {
        flex-flow: row;
        padding: 0 20px 0 20px;
        align-items: center;
        height: 60px;

        .ui-nav-bar-system-logo {
            width: 40px !important;
            height: 40px !important;
        }

        .ui-nav-bar-system-name {
            display: flex;
            align-items: center;
            padding-left: 10px;
            padding-top: 0;
            margin-left: 0;
        }
    }
}

.ui-nav-bar-mobile {
    .ui-nav-bar-states-container {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 60px;
        padding: 0;
        width: 100%;
    }

    .ui-nav-bar-states {
        display: flex;
        overflow-x: auto;
        height: 100%;
    }

    .ui-nav-bar-state {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .ui-nav-bar-state-selected {
        border-right: unset;
    }

    .ui-nav-default-options {
        flex: 1;
    }

    @include themify {
        background: themed('nav-bar-mobile-color');
        color: themed('nav-bar-mobile-text-color');
        box-shadow: 0 0 4px -1px themed('nav-bar-mobile-shadow-color');

        .ui-nav-bar-states-container {
            background: themed('nav-bar-mobile-options-color');
            color: themed('nav-bar-mobile-options-text-color');
            box-shadow: 0 0 3px -1px themed('nav-bar-mobile-shadow-color');
        }

        .ui-nav-default-options {
            .ui-circle-button {
                background: themed('nav-bar-mobile-color');
                color: themed('nav-bar-mobile-text-color');
            }

            .ui-circle-button:hover {
                color: themed('nav-bar-selected-text-color');
            }
        }
    }
}

.ui-nav-bar-horizontal {
    .ui-nav-bar-states-container {
        flex-flow: row;
        width: unset;
        flex: 1;
        min-width: 0;
        overflow: unset;

        .ui-nav-bar-states {
            flex-flow: row;
            width: unset;
            justify-content: center;
            min-width: 0;
            flex: 1;
            height: 100%;
            padding-right: 120px !important;

            .ui-nav-bar-state {
                width: unset;
                min-width: 60px;
                border-bottom: 2px solid transparent;
                border-right: unset;

                .ui-nav-bar-state-alias {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    @include themify {
        background: themed('nav-bar-horizontal-color');
        color: themed('nav-bar-horizontal-text-color');
        box-shadow: 0 0 4px -1px themed('nav-bar-horizontal-shadow-color');

        .ui-nav-default-options > .ui-circle-button,
        .ui-circle-button {
            position: relative;
            bottom: unset;
            top: unset;
            color: themed('nav-bar-horizontal-text-color');
            background: themed('nav-bar-horizontal-color');
            box-shadow: unset;
        }

        .ui-circle-button:hover {
            color: themed('nav-bar-selected-text-color');
            height: inherit;
            max-height: inherit;
        }

        .ui-nav-bar-state-selected {
            border-bottom-color: themed('nav-bar-selected-border-color') !important;
        }
    }
}

.ui-nav-bar-states-container {
    flex-flow: column;
    align-items: flex-start;
    flex: 1;
    overflow-y: auto;
}

.ui-nav-bar-state {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
    border-right: 3px solid transparent;

    .ui-nav-bar-state-alias {
        font-size: 16px;
        margin-left: 10px;
    }
}

.ui-nav-bar-state:hover {
    @include themify {
        background: themed('nav-bar-selection-color');
        color: themed('nav-bar-selection-text-color');
    }
}

.ui-nav-bar-state-selected {
    @include themify {
        background: themed('nav-bar-selected-color') !important;
        color: themed('nav-bar-selected-text-color') !important;
        border-right-color: themed('nav-bar-selected-border-color');
    }
}

.ui-nav-bar-retracted {
    width: 70px;

    .ui-nav-bar-system {
        padding: 18px 10px 18px 7px;
        justify-content: center;

        .ui-nav-bar-system-logo {
            width: 42px;
            height: 42px;
            margin-left: -8px;
        }

        .ui-nav-bar-system-name {
            display: none;
        }
    }

    .ui-nav-bar-state-selected {
        @include themify {
            border-left: 3px solid transparent;
        }
    }

    .ui-nav-bar-state {
        justify-content: center;
    }
}

.ui-nav-bar-system {
    display: flex;
    align-items: center;
    flex-flow: row;
    padding: 18px 10px 18px 10px;
    cursor: pointer;
    margin-left: 10px;

    .ui-nav-bar-system-name {
        font-size: 20px;
        padding: 0;
        font-weight: bold;
        margin-left: 10px;

        @include themify {
            color: themed('logo-color');
        }
    }

    .ui-nav-bar-system-logo {
        width: 50px;
        height: 50px;
        margin-left: -10px;
        background-size: 100% 100%;

        @include themify {
            @include background-logo(themed('logo-color'));
        }
    }
}

.ui-nav-bar-states-container,
.ui-nav-bar-states-row,
.ui-nav-default-options,
.ui-nav-bar-states {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.ui-nav-default-options {
    .ui-circle-button {
        margin: 0 5px;
    }
}

.ui-nav-bar-notification-freak {
    animation: notification-bell 2s linear infinite;
}

.ui-menu-loading {
    justify-content: center;
}

.ui-nav-bar-notification-critical {
    @include themify {
        color: themed('red-color') !important;
    }

    .ui-nav-bar-notification-amount {
        @include themify {
            color: themed('red-color') !important;
        }
    }
}

.ui-nav-bar-notification-warning {
    @include themify {
        color: themed('dark-orange-color') !important;
    }

    .ui-nav-bar-notification-amount {
        @include themify {
            color: themed('dark-orange-color') !important;
        }
    }
}

.ui-nav-bar-notification-amount {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 18px;
    left: 18px;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include themify {
        background: themed('primary-color') !important;
        color: themed('primary-text-color') !important;
    }
}

.ui-user-menu-container {
    width: 270px;
    min-width: 270px !important;
    margin-top: -40px;
}

.ui-user-info-container {
    display: flex;
    padding: 30px 0 20px 0;
    flex-flow: column;
}

.ui-user-info-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 70px;
    }
}

.ui-user-info-name {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.ui-user-info-title {
    padding-top: 5px;
    font-size: 11px;
}

.ui-user-options-container {
    flex-flow: column;
    padding-top: 10px;

    .ui-menu-option {
        margin-top: 5px;
    }
}

.ui-user-menu-button {
    min-height: 40px !important;
    max-height: 40px !important;
    height: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
    width: 40px !important;

    .ui-button-icon {
        font-size: 25px !important;
    }

    .ui-menu-option-name {
        padding-top: 15px;
    }

    @include themify {
        background: themed('secondary-color') !important;
        color: themed('secondary-text-color') !important;
    }
}

.ui-user-menu-notifications {
    margin-right: 10px;
}

.ui-button.mat-menu-item {
    min-height: 40px;
    height: 40px;
    max-height: 40px;
}
