@import "src/styling/themes/core/theme-core.scss";

.ui-genesis-container {
    flex-flow: column;
    justify-content: unset;
    align-items: unset;
    flex: unset;
}

.ui-genesis-executions-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0 20px;
}

.ui-card {
    margin: 5px;
    width: 220px;
    max-width: 230px;
    height: 330px;
    position: relative;
}

.ui-card-chart {
    padding-top: 20px;
}

.ui-genesis-informations {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: unset;
    padding: 10px 5px;
    padding-bottom: 20px;
}

.ui-genesis-information {
    display: flex;
    flex-flow: column;
    width: 90px;
    margin: 5px;
}

.ui-genesis-information-label {
    font-size: 9px;
}
.ui-genesis-information-value {
    font-weight: bold;
    font-size: 12px;
}

.ui-execution-footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    bottom: -2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ui-empty-container {
    flex-flow: column;

    .ui-create-button {
        height: 35px;
        min-height: 35px;
        max-height: 35px;
        width: 35px;
        min-width: 35px;
        max-width: 35px;
        margin-top: 10px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        line-height: unset;
    }
}

:host {
    @include themify {
        .ui-card {
            background: themed('primary-color');
        }

        .ui-execution-footer-executing {
            background: themed('tertiary-color');
            color: themed('tertiary-text-color');
        }

        .ui-execution-footer-completed {
            background: themed('green-color');
            color: themed('white-color');
        }

        .ui-execution-footer-failed {
            background: themed('red-color');
            color: themed('white-color');
        }

        .ui-execution-footer-waiting {
            background: themed('gray-color');
            color: themed('white-color');
        }

        .ui-empty-container {
            .ui-create-button {
                background: themed('tertiary-color');
                color: themed('tertiary-text-color');
            }
        }
    }
}

::ng-deep {
    .ui-genesis-information-field-view {
        margin: 5px;
    }
}

:host-context(.ui-container-mobile) {
    .ui-genesis-container {
        justify-content: center;
    }

    .ui-card {
        width: 230px;
        max-width: 230px;
        flex: unset;
    }

    @media(max-width: 345px) {
        .ui-card {
            width: 100%;
            max-width: 100%;
        }
    }
}
