<app-header [title] = "title" [subTitle] = "subTitle">
    <div appHeaderTitleOptions class = "ui-header-title-options">
        <button mat-button class = "ui-circle-button ui-header-title-button" matTooltip = "Nova Execução" (click) = "eventNewExecution()">
            <span class = "far fa-file"></span>
        </button>
    </div>
</app-header>
<div class = "ui-component-container ui-genesis-container" *ngIf = "genesisProcess && genesisProcess.size > 0">
    <div class = "ui-genesis-executions-container">
        <div class = "ui-card ui-card-zoomed" *ngFor = "let execution of genesisProcess.process; trackBy: trackById" (click) = "eventNavigateToDetail(execution)" >
            <app-chart [data] = "getExecutionData(execution)" type = "gauge"></app-chart>
            <div class = "ui-genesis-informations">
                <app-field-view label = "Sra DNA" [value] = "execution.dnaResource.sra"></app-field-view>
                <app-field-view label = "Alinhador DNA" [value] = "execution.dnaResource.alignmentParameters?.toolName"></app-field-view>
                <app-field-view label = "Sra RNA" [value] = "execution.rnaResource.sra"></app-field-view>
                <app-field-view label = "Alinhador RNA" [value] = "execution.rnaResource.alignmentParameters?.toolName"></app-field-view>
                <app-field-view label = "Referência" [value] = "execution.reference"></app-field-view>
                <app-field-view label = "Executa Em" [value] = "getExecutionTime(execution)"></app-field-view>
            </div>
            <div [ngClass] = "{
                'ui-execution-footer': true,
                'ui-execution-footer-executing': !execution.completedDate && execution.step !== 'WAITING',
                'ui-execution-footer-completed': execution.completedDate,
                'ui-execution-footer-waiting': execution.step === 'WAITING'
            }">
                {{ execution.step | StringNormalizePipe }}
            </div>
        </div>
    </div>
    <app-pagination [limit] = "pagination.limit" [page] = "pagination.page" [size] = "genesisProcess.size" [processing] = "FORCE_UPDATE.getValue()"
        (limitChange) = "eventLimitChanged($event)" (pageChange) = "eventPageChanged($event)"></app-pagination>
</div>
<div class = "ui-component-container" *ngIf = "genesisProcess && genesisProcess.size === 0">
    Nenhuma execução encontrada
</div>
<div class = "ui-component-container" *ngIf = "!genesisProcess">
    <app-spinner message = "Buscando as execuções" boldMessage = "Aguarde"></app-spinner>
</div>
