.ui-form-title {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

.ui-field-array-container {
    width: unset;
}

.ui-empty-variables {
    padding: 20px;
}

.ui-fields-container {
    display: flex;
    flex-flow: column;
    padding: 10px 0;
    overflow: auto;

    .ui-fields {
        justify-content: unset;
        align-items: flex-start;
        padding: 10px 0 10px 20px;

        .ui-field-container {
            display: flex;
            flex-flow: row wrap;
            margin: 10px 0;
            flex: 1;

            .ui-field {
                flex: 1;
                margin: 0 30px 0 0;
            }

            .ui-field-toggle {
                margin-left: 10px;
            }
        }

        .ui-field-toggle-container {
            width: 100%;
            flex: unset;
            padding-bottom: 10px;

            .mat-slide-toggle {
                white-space: unset;

                .mat-slide-toggle-content {
                    white-space: unset;
                    overflow: unset;
                    text-overflow: unset;
                    line-height: 18px;
                }
            }
        }
    }
}

.ui-field-textarea-container {
    width: 100%;
    padding: 0 30px 0 5px;
    flex: unset;
    max-width: unset;

    .ui-field-textarea {
        width: 100%;
    }
}

.ui-dynamic-options {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    padding-top: 20px;
    width: 100%;

    .ui-dynamic-button {
        margin: 0 10px;
    }
}

@media (max-width: 1920px) {
    .ui-dynamic-options {
        justify-content: center;
    }
}

@media (min-width: 1921px) {
    .ui-dynamic-options {
        justify-content: center;
    }

    .ui-fields {
        max-width: 1400px;
    }
}

.ui-dynamic-form-error-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.ui-dynamic-form-error-icon {
    font-size: 40px;
}

.ui-dynamic-form-error-description {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 1921px) {
    .ui-dynamic-form-error-container {
        padding: 50px 30px;
        width: 500px;
    }
}
