.ui-information-header {
    padding-top: 10px;
}

.ui-exhibition-container {
    display: flex;
    flex-flow: column;
    padding: 35px;
}

.ui-exhibition-options {
    display: flex;
    flex-flow: row wrap;

    .ui-themes {
        flex-flow: row wrap;
    }
}

.ui-exhibition-not-mobile-options {
    flex-flow: column;
}

.ui-exhibition-option {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;
}

.ui-exhibition-option-label {
    padding-right: 20px;
    display: flex;
    align-items: center;
}
