<div class = "ui-slide-backdrop">
    <div #container class = "ui-slide-container">
        <div class = "ui-slide ui-slide-home">
            <div class = "ui-slide-content" style = "width: 60%;" >
                <span class = "ui-slide-text-big">Aplicação de ferramentas de <span class = "ui-slide-text-colored">bioinformática</span> e inteligência artificial para caracterização e correlação de tipo e frequência de variantes genéticas no <span class = "ui-slide-text-colored">genoma</span> com expressão do <span class = "ui-slide-text-colored">transcriptoma</span> em células de tecido cerebral</span>
                <span class = "ui-slide-text-med" style = "padding-top: 10px">Hanor Sátiro Cintra</span>
                <span class = "ui-slide-text-small">Orientado por: Dr. Roberto Herai</span>
            </div>
            <div class = "ui-slide-content">
                <img src = "assets/img/dna.jpg" class = "ui-slide-image-rotated">
            </div>
        </div>
        <div class = "ui-slide">
            <div class = "ui-slide-header">
                <span>Introdução</span>
                <span>Humanos</span>
            </div>
            <div class = "ui-slide-body">
                <img src = "assets/img/genetic-humans.svg">
            </div>
        </div>
        <div class = "ui-slide">
            <div class = "ui-slide-header">
                <span>Introdução</span>
                <span>Dogma Central - Transcrição</span>
            </div>
            <div class = "ui-slide-body">
                <img width = "90%" height = "90%" style = "margin-top: -50px" src = "assets/img/transcription.svg">
            </div>
        </div>
        <div class = "ui-slide">
            <div class = "ui-slide-header">
                <span>Introdução</span>
                <span>Dogma Central - Tradução</span>
            </div>
            <div class = "ui-slide-body">
                <img width = "90%" height = "90%" style = "margin-top: -50px" src = "assets/img/translate.svg">
            </div>
        </div>
        <div class = "ui-slide">
            <div class = "ui-slide-header">
                <span>Projeto</span>
                <span>Objetivos</span>
            </div>
            <div class = "ui-slide-body">
                <div style = "display: flex; flex-flow: column; flex: 1; padding-left: 80px; text-align: left">
                    <span class = "ui-slide-text-med" style = "margin: 5px 0"><b>1.</b> (Primária) Analisar mutações presentes no DNA e não expressas no RNA</span>
                    <span class = "ui-slide-text-med" style = "margin: 5px 0"><b>2.</b> (Primária) Analisar amostras de duas pessoas com a mesma mutação onde uma delas tem problemas decorrente da alteração e a outra é assintomática</span>
                    <span class = "ui-slide-text-med" style = "margin: 5px 0"><b>3.</b> (Secundária) Mosaicismo</span>
                    <span class = "ui-slide-text-med" style = "margin: 5px 0"><b>4.</b> (Secundária) Penetração da mutação</span>
                    <span class = "ui-slide-text-med" style = "margin: 5px 0"><b>5.</b> (Secundária) Aplicar inteligência artificial</span>
                </div>
                <img src="assets/img/vann.svg" width = "400px" height="400px">
            </div>
        </div>
        <div class = "ui-slide">
            <div class = "ui-slide-header">
                <span>Projeto</span>
                <span>Exemplo</span>
            </div>
            <div class = "ui-slide-body">
                Empty
            </div>
        </div>
        <div class = "ui-slide">
            <div class = "ui-slide-header">
                <span>Projeto</span>
                <span>Pipeline</span>
            </div>
            <div class = "ui-slide-body">
                Empty
            </div>
        </div>
        <div class = "ui-slide">
            <div class = "ui-slide-header">
                <span>Projeto</span>
                <span>Sistema</span>
            </div>
            <div class = "ui-slide-body">
                Empty
            </div>
        </div>
        <div class = "ui-slide">
            <div class = "ui-slide-header">
                <span>Agradecimentos</span>
                <span>PUCPR - PPGCS</span>
            </div>
            <div class = "ui-slide-body">
                Empty
            </div>
        </div>
        <div class = "ui-slide">
            Fim da apresentação
        </div>
    </div>
    <div class = "ui-slide-tools">
        <button [disabled] = "isBegin" mat-button class = "ui-circle-button" (click) = "eventPreviousSlide()">
            <span class = "ui-button-icon fa-solid fa-chevron-left"></span>
        </button>
        <button [disabled] = "isEnd" mat-button class = "ui-circle-button" (click) = "eventNextSlide()">
            <span class = "ui-button-icon fa-solid fa-chevron-right"></span>
        </button>
        <button [style.visibility]="isFullscreen ? 'hidden' : 'visible'" mat-button class = "ui-circle-button" (click) = "eventFullScreen()">
            <span class = "ui-button-icon fa-solid fa-maximize"></span>
        </button>
    </div>
</div>
