@import '../../styling/themes/core/theme-core.scss';

.ui-component-container {
    justify-content: unset;
    align-items: unset;
}

.ui-tasks-groups-container,
.ui-process-container {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.ui-tasks-groups,
.ui-process-all {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    padding: 10px 20px 15px 15px;
}

.ui-task-group-card {
    margin: 5px;
}

.ui-task-group {
    height: 110px;
    width: 250px;
    display: flex;
    border-radius: 3px;
}

.ui-task-group-information {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    padding-left: 20px;
}

.ui-task-group-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;

    span {
        font-size: 30px;
    }
}

.ui-task-group-name {
    font-size: 12px;
    padding: 10px 0;
}

.ui-task-group-value {
    font-size: 24px;
    font-weight: bold;
}

.ui-process-card {
    margin: 0 15px;
}

.ui-process {
    display: flex;
    width: 260px;
    height: 120px;
    position: relative;
    border-radius: 3px;

    .ui-card {
        border: unset !important;
    }
}

.ui-process-icon {
    position: absolute;
    font-size: 24px;
    right: 5px;
    top: 5px;
}

.ui-process-information {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 10px 10px 0 10px;
    justify-content: center;
    align-items: center;
}

.ui-process-information-value {
    font-size: 20px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-process-information-name {
    font-size: 12px;
    padding: 0 0 20px 0;
}

.ui-process-empty {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 20px;
    padding-bottom: 30px;
}

:host {
    justify-content: unset;
    align-items: unset;

    @include themify {
        .ui-process {
            background: themed('blue-color');
            color: themed('white-color');
        }

        .ui-task-group {
            color: themed('primary-text-color');
            background: themed('primary-color');
        }

        .ui-task-group-assigned {
            background: themed('purple-color');
            color: themed('white-color');
        }

        .ui-task-group-not-in-group {
            background: themed('light-orange-color');
            color: themed('white-color');
        }

        .ui-task-group-all {
            background: themed('light-green-color');
            color: themed('white-color');
        }

        .ui-task-group-profile {
            background: themed('blue-color');
            color: themed('white-color');
        }

        .ui-process-empty {
            color: themed('primary-text-color');
        }
    }
}

:host-context(.ui-container-mobile) {
    .ui-process-all,
    .ui-tasks-groups {
        align-items: center;
        justify-content: center;
    }
}
